<app-header></app-header>

<section class="content-section">
  <div class="main-section">
    <div *ngIf="isLoading" class="spinner-container">
      <div class="spinner"></div>
    </div>

    <div class="modal" *ngIf="showConfirmModal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p><strong>¿Está seguro de que desea eliminar este TFG?</strong></p>
        <div class="modal-actions">
          <button class="delete-button" (click)="confirmDelete()">Eliminar</button>
          <button class="cancel-button" (click)="closeModal()">Cancelar</button>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading">
      <table class="info-table">
        <thead>
          <tr>
            <th>
              <span>Estudiante</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['studentName', 'studentSurname'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['studentName', 'studentSurname'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th>
              <span>TFG</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['name'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['name'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th>
              <span>Tareas pendientes de puntuar</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['mainTasksNotEvaluated'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['mainTasksNotEvaluated'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th>
              <span>Tareas atrasadas</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['delayedMainTasks'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['delayedMainTasks'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th>
              <span>Tareas en progreso</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['tasksInProgress'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['tasksInProgress'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th>
              <span>Subtareas pendientes</span>
              <div class="sort-icons">
                <i class="fa-solid fa-arrow-up" (click)="sortTable(['subTasksToDo'], 'asc')" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-down" (click)="sortTable(['subTasksToDo'], 'desc')" style="cursor: pointer;"></i>
              </div>
            </th>
            <th></th>
          </tr>
        </thead>

        <thead>
          <tr class="search-row-bar">
            <th>
              <div class="search-container-bar">
                <i class="fa-solid fa-magnifying-glass" style="color: grey; font-size: 14px; margin-right: 10px;"></i>
                <input type="text" placeholder="Buscar por nombre" [(ngModel)]="searchName" (input)="filterTfgs()" />
              </div>
            </th>
            <th>
              <div class="search-container-bar">
                <i class="fa-solid fa-magnifying-glass" style="color: grey; font-size: 14px; margin-right: 10px;"></i>
                <input type="text" placeholder="Buscar por TFG" [(ngModel)]="searchTFG" (input)="filterTfgs()" />
              </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tfg of filteredTfgs" class="info-row">
            <td>
              <div class="personal-info">
                <img loading="lazy"
                     [src]="tfg.studentProfilePicture"
                     alt="{{ tfg.studentName }} Photo"
                     class="student-photo" />
                <h4 class="student-name">{{ tfg.studentName }} {{ tfg.studentSurname }}</h4>
              </div>
            </td>
            <td (click)="navigateToPanel(tfg.id)">{{ tfg.name }}</td>
            <td [ngClass]="{'red-text': tfg.mainTasksNotEvaluated > 0}">{{ tfg.mainTasksNotEvaluated }}</td>
            <td [ngClass]="{'red-text': tfg.delayedMainTasks > 0}">{{ tfg.delayedMainTasks }}</td>
            <td>{{ tfg.tasksInProgress }}</td>
            <td [ngClass]="{'red-text': tfg.subTasksToDo < 1}">{{ tfg.subTasksToDo }}</td>
            <td class="actions">
              <i class="fa-solid fa-comments" style="color: green; font-size: 18px; margin-right: 10px;" (click)="navigateToChat(tfg.id, tfg.studentName, tfg.studentSurname, tfg.studentProfilePicture)"></i>
              <i class="fa-solid fa-pen-to-square" style="color: #0C94A6; font-size: 18px; margin-right: 10px;" (click)="editTFG(tfg)"></i>
              <i class="fa-solid fa-trash-can" style="color: red; font-size: 18px" (click)="deleteTFG(tfg.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="button-section">
    <button class="custom-button" (click)="navigateToNewTFG()">+ Añadir nuevo TFG</button>
  </div>

</section>

<app-footer></app-footer>




