.personal-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.student-photo {
  width: 70px;
  border-radius: 50%;
}

.student-name {
  font-weight: bold;
  margin: 0;
}

.project-description {
  margin: 0;
}

