:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header-container {
  background-color: #0c94a6;
  height: 13%;
  width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  font-family: Kreon, sans-serif;
  display: flex;
  align-items: center;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  flex: 1;
  width: 100%;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.15;
}

.form-container {
  background-color: #fff;
  border-radius: 20px;
  border: 7px solid rgba(12, 148, 166, 1);
  padding: 2em;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-label {
  font-size: 1rem;
  color: #000;
  text-align: left;
  display: block;
  margin-bottom: 0.5em;
  font-family: Open Sans Hebrew, sans-serif;
}

.input-container {
  display: block;
  width: calc(90% - 1em);
  padding: 0.5em;
  margin: 0 auto;
}

.input {
  border: 2px solid rgba(12, 148, 166, 1);
  background-color: rgba(12, 148, 166, 0.1);
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1em;
  height: 2em;
}

.registration-info {
  color: #0c94a6;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 0.9rem;
}

.access-button {
  background-color: #0c94a6;
  color: #fff;
  border: none;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-family: Kreon, sans-serif;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.error-space {
  min-height: 2em;
}

.error-message {
  color: #ff0000;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
  font-size: 0.8rem;
}

.footer-container {
  background-color: #0c94a6;
  width: 100%;
  padding: 1em 0;
}

@media (max-width: 767px) {
  .form-container {
    padding: 1em;
    max-width: 90%;
  }
}
